.cleaning-assignments {
    border: 1.5px solid var(--border-color);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    height: fit-content;
    margin: 23px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.cleaning-assignment-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cleaning-assignment-label h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}


.cleaning-assignment-label p {
    font-size: 0.87rem;
    color: var(--light-text-color);
}

.floorContents {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow: scroll;
}

.floorContents table {
    width: 100%;
    min-width: 650px;
    border-radius: 8px;
    border: 1.5px solid var(--border-color);
    border-bottom: none;
    table-layout: fixed;
    margin-bottom: 15px;
}

.floorContents table thead tr td.label {
    color: var(--light-text-color);
    font-size: 0.88rem;
    border-bottom: 1.5px solid var(--border-color);
    padding: 10px;
}

.floorContents table tr td {
    font-size: 0.88rem;
    border-bottom: 1.5px solid var(--border-color);
    padding: 15px;
    padding-left: 10px;
}
