@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

input:focus {
    outline: 2px solid maroon;
}

body {
    font-size: 1rem;
    background-color: var(--background-color);
}

hr {
    background-color: var(--border-color);
    border: none;
    height: 1px; 
}

:root {
    --background-color: #FCFAF7;
    --light-text-color: #737373;
    --border-color: #E5E5E5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr {
    border-bottom: 2px solid var(--border-color);
}

table thead th {
    text-align: left;
    padding: 12px 15px;
    font-weight: 600;
    color: var(--light-text-color);
    font-size: 0.88rem;
}

table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

table tbody td {
    padding: 15px;
    font-size: 0.88rem;
}